.bannerBottom
  .bannerBottom__content.-slick
    - var i = 0;
    - var loopLength = 6;

    while i < loopLength
      - var number = (i++ % 3) + 1;
      - var imageSrc = 'assets/img/bannerBottom' + number + '.jpg';
      - var imageAlt = 'bannerBottom' + number;

      .bannerBottom__item
        img.bannerBottom__image(src=imageSrc alt=imageAlt)
        .bannerBottom__desc
          h2 Kominek pod telewizorem?
          h1 Tak, teraz to możliwe