.bannerBottom
  width: 100%
  margin-bottom: 10px

  &__content
    padding-top: 60px

    .-subpage &
      padding-top: 0
      padding-bottom: 20px

  &__item
    position: relative

  &__image
    position: relative
    display: block
    width: 100%

  &__desc
    +absolute(top 15% left 0)
    padding: 5px 10px
    background-color: rgba(0,0,0,0.45)
    color: white
    +PHONE_ONLY
      position: relative
      background-color: transparent
      color: black

    &>*:last-child
      padding-left: 30px
      +PHONE_ONLY
        padding-left: 0


    h1
      font-size: 25px
        line-height: 36px
      +TAB_MIN
        font-size: 48px
        line-height: 48px
      +PC_MIN
        font-size: 60px
        line-height: 60px

    h2
      font-size: 22px
      line-height: 32px
      +TAB_MIN
        font-size: 36px
        line-height: 32px
      +PC_MIN
        font-size: 48px
        line-height: 48px

    h3
      font-size: 28px
      line-height: 28px
      +TAB_MIN
        font-size: 32px
        line-height: 32px
      +PC_MIN
        font-size: 36px
        line-height: 36px
