.breadcrumbs
  padding-top: 35px

  &__link
    display: inline-block
    padding: 0 7px
    font-size: 14px
    color: $grayMenu
    transition: color 0.3s ease
    &:hover
      color: black
      text-decoration: none
    &:after
      content: ' >>'
      margin-left: 5px

    &:last-child
      &:after
        content: ''