header
  +fixed()
  z-index: 1000

.header
  +fixed()
  width: 100%
  z-index: 1000
  background-color: white
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4)
  .container
    +relative()
  &__panel
    +flex(align-items flex-end justify-content flex-start)
    padding-top: 15px
    width: 100%