.partners#Content
  .partners__content.-slick
    - var i = 0;
    - var loopLength = 8;
    - var numberMax = 4;

    while i < loopLength
      - var number = (i++ % numberMax) + 1;
      - var itemSrc = 'assets/img/partners' + number + '.jpg';
      - var itemAlt = 'partners' + number;

      a.partners__item(href='#')
        img.partners__image(src=itemSrc alt=itemAlt)