.partners
  width: 100%
  border-bottom: 1px solid #b1b1b1

  &__content
    padding: 30px 0

  &__item
    +flex-imp()
    align-items: center
    justify-content: center

  &__image
    margin: 0 auto
    max-width: 300px