extends ../layout/body

block content

  include ../blocks/bannerTop/bannerTop

  .container
    include ../blocks/breadcrumbs/breadcrumbs

    include ../blocks/textBlock/textBlockList

    include ../blocks/download/download

    .container__row
      .container__content.-grid
        include ../blocks/titleMain/titleMain
        include ../blocks/offer/offer
