extends ../layout/body

block content

  include ../blocks/bannerMain/bannerMain

  .container
    include ../blocks/partners/partners
    include ../blocks/bannerBottom/bannerBottom

    .container__content.-slick
      include ../blocks/titleMain/titleMain
      include ../blocks/offer/offer

    include ../blocks/textBlock/textBlock
