extends ../layout/body

block content

  include ../blocks/bannerTop/bannerTop

  .container

    include ../blocks/textBlock/textBlockPages

    include ../blocks/download/download
    include ../blocks/gallery/gallery


