textarea,
input[type="text"],
input[type="button"],
input[type="submit"]
  -webkit-appearance: none
  border-radius: 0

body
  min-width: 320px

.clearfix
  +clearfix

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: border-box