@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700')
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')

=fontLato
  font-family: 'Lato', sans-serif

=fontHelvticaAlternative
  font-family: 'Archivo Narrow', sans-serif

body
  +fontLato
  font-size: 14px
  line-height: 1.5

a
  color: inherit
  text-decoration: none

  &:hover
    text-decoration: underline

b
  font-weight: 700

input, textarea
  +fontLato

.container
  +container

  &__content

    &.-grid
      display: flex
      flex-wrap: wrap

  &__row
    +clearfix
    width: 100%

  footer &
    display: flex
    @media (max-width: 1023px)
      flex-wrap: wrap
