.productInfo
  width: 100%
  padding: 40px 0

  &__row
    display: flex
    flex-wrap: wrap
    padding: 5px

    &:nth-child(odd)
      background-color: rgba(223, 223, 223, 0.3)

  &__col
    width: 50%
    padding: 0 5px
    font-size: 16px
    color: #4e4e4e
    @media (max-width: 767px)
      padding: 3px 5px
      text-align: center

    @media (max-width: 550px)
      width: 100%