.productInfo
  - var i = 0;
  - var loopLength = 7;

  while i < loopLength
    - var number = ++i;
    - var itemTitle = 'Wysokość nr' + number;
    - var itemPower = number + 'cm';

    .productInfo__row
      .productInfo__col #{itemTitle}
      .productInfo__col #{itemPower}