//region DISPLAYS & BACKGROUND
=hide
  display: none

=hide-imp
  display: none !important

=inline
  display: inline

=inline-imp
  display: inline !important

=block
  display: block

=block-imp
  display: block !important

=inline-block
  display: inline-block

=inline-block-imp
  display: inline-block !important

=flex-in($args: ())
  $offsets: align-items align-content align-self flex flex-direction justify-content
  display: inline-flex
  +matching($args, $offsets, $another: null)

=flex-imp($args: ())
  $offsets: align-items align-content align-self flex flex-direction justify-content
  display: flex !important
  +matching($args, $offsets, $another: null)


=flex($args: ())
  $offsets: align-items align-content align-self flex flex-direction justify-content
  display: flex
  +matching($args, $offsets, $another: null)

=matching($args, $offsets, $another)
  @each $offset in $offsets
    $index: index($args, $offset)
    @if $index
      @if $index == length($args) and $another == null
        #{$offset}: 0
      @else
        $next: nth($args, $index + 1)
        @if is-valid-length($next)
          #{$another}#{$offset}: $next
        @else if index($offsets, $next) and $another == null
          #{$offset}: 0
        @else
          @warn "Invalid value `#{$next}` for offset `#{$offset}`."

=background($args: ())
  $offsets: attachment clip color image orgin position repeat size
  +matching($args, $offsets, $another: background-)

//endregion

//region FLOATING
=left
  float: left

=left-imp
  float: left !important

=right
  float: right

=right-imp
  float: right !important

//endregion

//region POSITIONS
=absolute($args: ())
  +position(absolute, $args)

=absolute-imp($args: ())
  +position(absolute !important, $args)

=fixed($args: ())
  +position(fixed, $args)

=relative($args: ())
  +position(relative, $args)

=static($args: ())
  +position(static, $args)

@function is-valid-length($value)
  @return type-of($value) == "number" and not unitless($value) or index(auto initial inherit 0, $value) != false

=position($position, $args: ())
  $offsets: bottom left right top
  position: $position
  +matching($args, $offsets, $another: null)

//endregion

//region SPACES
=padding($args: ())
  $offsets: bottom left right top
  +matching($args, $offsets, $another: padding-)

=margin($args: ())
  $offsets: bottom left right top
  +matching($args, $offsets, $another: margin-)

//endregion

//region OTHERS
=pointer
  cursor: pointer

=uppercase
  text-transform: uppercase

=colors($args: ())
  $offsets: background-color color
  +matching($args, $offsets, $another: null)

=size($args: ())
  $offsets: min-height height max-height min-width width max-width
  +matching($args, $offsets, $another: null)

=font($args: ())
  $offsets: family size style weight
  +matching($args, $offsets, $another: font-)

=text-center
  text-align: center

=text-left
  text-align: left

=text-right
  text-align: right

=text-justify
  text-align: justify

=transition($time)
  transition: $time ease all

=backgroundLighten($args)
  $color: nth($args, 1)
  $number: nth($args, 2)
  background: lighten($color, $number)

//endregion