.product
  +clearfix
  display: block
  min-height: 250px
  padding: 20px 0

  &__info
    +clearfix
    position: relative
    display: block
    width: 50%
    float: right
    padding: 0 0 0 5px
    @media (max-width: 767px)
      width: 100%
      padding: 40px 0 20px

  &__link
    position: absolute
    display: block
    top: 30px
    right: 0
    max-width: 100%
    background-color: $grayVeryLight
    color: $grayMedium
    padding: 10px 15px
    font-size: 18px
    transition: background-color 0.3s ease

    &:hover
      text-decoration: none
      background-color: $grayLight

    span
      color: black
      display: inline-block
      padding-left: 5px

  &__logo
    display: block
    max-width: 100%
    padding: 0 10px 45px
    @media (max-width: 767px)
      margin: 0 auto
    .mark &
      padding: 0
      margin: 0 auto
      cursor: pointer
      width: 100%

  &__pagingInfo
    font-size: 24px
    color: black
    text-align: center
    display: block
    margin: 0 auto

  h1
    padding: 0 0 20px
    @media (max-width: 767px)
      padding: 0 0 20px

  &__text
    padding: 0 0 20px
    @media (max-width: 767px)
      padding: 0 0 20px

  &__gallery
    +clearfix
    width: 50%
    float: left
    padding: 0 5px
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    @media (max-width: 767px)
      width: 100%
      padding: 0

  &__imageLink
    display: block
    float: left
    width: calc(50% - 5px)
    margin-bottom: 10px
    border: 1px solid $grayMedium
    opacity: 1
    transition: opacity 0.3s ease
    &:hover
      opacity: 0.8

    &:nth-child(odd)
      margin-left: 10px

    &.-big
      width: 100%
      margin-left: 0 !important

  &__image
    display: block
    width: 100%