.product#Content
  .product__info
    a(href='#').product__link
      i.fa.fa-th
    img.product__logo(src='assets/img/productLogo.png' alt='productLogo')
    h1(style='font-size: 18px') Kominek z płaszczem wodnym czy z systemem

    .product__text
      include ../productInfo/productInfo

      .product__content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

      include ../download/download


  .product__gallery.-slick
    - var i = 0;
    - var loopLength = 4;
    - var numberMax = 2;

    while i < loopLength
      - var number = (i++ % numberMax) + 1;
      - var itemSrc = 'assets/img/product' + number + '.jpg';
      - var itemAlt = 'product' + number;

      a(href='#').product__imageLink.-big
        img.product__image(src=itemSrc alt=itemAlt)