.search
  +clearfix
  position: absolute
  top: 0
  right: 0
  max-width: 296px
  width: 100%
  +TAB_MAX
    display: flex
    justify-content: flex-end

  &__contact
    width: 100%
    text-align: center
    font-size: 15.64px
    +fontHelvticaAlternative
    padding-right: 40px
    +TAB_MAX
      padding-right: 0
      width: 50px
      display: flex
      align-items: center
      justify-content: center
    a
      display: inline-block
      outline: none
      &:hover
        text-decoration: none

  &__icon
    font-size: 33.62px
    margin-right: 8px
    +TAB_MAX
      margin-right: 0

  &__tel
    font-size: 24.76px
    margin-left: 8px
    +TAB_MAX
      display: none

  &__telSmall
    +TAB_MAX
      display: none

  header &
    float: right
    +PHONE_ONLY
      float: none

  &__row
    display: flex
    width: 300px
    +TAB_MAX
      width: 100%
    +PHONE_ONLY
      width: 50px

  &__textbox
    border: 1px solid #cdcdcd
    padding: 0 6px
    max-width: 252px
    width: 100%
    color: #000000
    transition: border-color .15s ease-in-out
    outline: none
    +PHONE_ONLY
      display: none
    +TAB_MAX
      height: 50px
      line-height: 50px
      font-size: 16px
    +PC_MIN
      height: 18px
      line-height: 18px
      font-size: 11px

    &:focus
      border-color: #545123

  &__panelIniter
    height: 50px
    line-height: 50px
    width: 50px
    color: black
    background-color: white
    border: 0
    display: none
    align-items: center
    justify-content: center
    +PHONE_ONLY
      display: flex

  &__button
    width: 40px
    height: 18px
    line-height: 18px
    text-align: center
    cursor: pointer
    transition: background-color 0.3s ease
    color: #545123
    background-color: white
    border: 0
    +TAB_MAX
      height: 32px
      line-height: 32px
    +TAB_MAX
      display: none
      height: 50px
      line-height: 50px
      width: 50px

    &:hover
      background-color: #545123
      color: white
      @media (max-width: 639px)
        background-color: transparent
        color: black