form.search

  .search__contact
    a(href='tel:+48539398747')
      span.search__icon
        img(src='assets/img/footerPhone.png' alt='telefon')
      span.search__telSmall +48.
      span.search__tel 539 398 747
  .search__row
    input.search__textbox(type='text' placeholder='Wyszukaj na stronie...')
    button.search__button(type='submit')
      i.search__buttonIcon.fa.fa-search
    span.search__panelIniter
      i.search__buttonIcon.fa.fa-search

  .menu__button
    i.fa.fa-bars