.bannerMain
  .bannerMain__slick.-slick
    - var i = 0;
    - var loopLength = 4;
    - var numberMax = 2;

    while i < loopLength
      - var number = (i++ % numberMax) + 1;
      - var itemStyle = 'background: url("assets/img/bannerMain' + number + '.jpg")';

      .bannerMain__item(style=itemStyle)

  a.bannerMain__trigger
    span Trigger