.bannerMain
  width: 100%
  margin-left: auto
  margin-right: auto
  max-width: initial
  padding-top: 117px

  &__slick
    margin: 0

  &__item
    +relative()
    +flex-imp(align-self center align-content center align-items center)
    +size(width 100%)
    background-position: center center !important
    background-size: 100%

  .slick-slide
    height: 80vh
    background-size: cover !important
    +PHONE_ONLY
      height: 350px !important
      min-height: 0 !important

  &__trigger
    +absolute(bottom 40px left 0 right 0)
    +block
    +size(width 66px height 75px)
    +pointer
    margin: 0 auto
    z-index: 51
    padding: 0
    border: none
    background: transparent
    color: transparent
    font-size: 2em
    +PHONE_ONLY
      display: none

    .pusher:not(.notrans) &
      transition: opacity 0.3s 0.5s

    .pusher.modify:not(.notrans) &
      opacity: 0
      pointer-events: none
      transition-delay: 0s

    &:focus
      outline: none

    span
      +block
      +relative()
      +size(width 100% height 100%)
      overflow: hidden
      &::before
        +absolute(top 0 left 0)
        +size(width 100% height 100%)
        background: url("../img/bannerMainArrow.svg")
        background-repeat: no-repeat
        color: #fff
        content: ""
        line-height: 1
        animation: MoveBottomLink 0.8s infinite

  &__placeholder
    @media (min-width: $screen-lg)
      margin-top: 140px
    +TAB_MAX
      margin-top: 130px
    +PHONE_ONLY
      margin-top: 20px