footer
  .container
    .footerColumn
      .footerColumn__content
        h1 NA SKRÓTY
        a(href="#") Piece akumulacyjne
        br
        a(href="#") Piece kaflowe
        br
        a(href="#") Piece wolnostojące
        br
        a(href="#") Wkłady kominkowe
        br
        a(href="#") Ceramicz kowe
        br
        a(href="#") Kominy stalowe

    .footerColumn
      .footerColumn__content
        h1 SZYBKI KONTAKT
        a.footerColumn__infoLink(href='tel:+48539398747')
          img(src='assets/img/footerPhone.png' alt='phone')
          span 539 398 747
        br
        a.footerColumn__infoLink(href='mailto:biuro@piece-kominki-kominy.pl')
          img(src='assets/img/footerMail.png' alt='mail')
          span biuro@piece-kominki-kominy.pl

    .footerColumn
      .footerColumn__content
        h1 DOJAZD
        p.footerColumn__infoLink
          img(src='assets/img/footerHome.png' alt='home')
          span SALON WARSZAWA
          br
          span Ul. Obywatelska 112
          br
          a(href='#') Zobacz jak do nas dojechać >>
        br

    .footerColumn
      .footerColumn__content
        h1 INFORMACJE O STRONIE
        a(href="#") Polityka prywatności
        br
        a(href="#") Regulamin użytkowania strony
        br
        a(href="#") Mapa strony
        br
        br
        a(href='#' target='blank') Realizacja WaWMedia 2016