footer
  background-color: #f1f1f1
  border-top: 1px solid #e3e3e3
  padding: 20px 0
  +TAB_MIN
    padding: 40px 0

.footerColumn
  padding: 15px 15px 50px 15px
  width: 25%
  flex-basis: auto
  float: left
  flex-grow: 0
  flex-shrink: 1
  border-left: 1px solid #f7f7f7
  +TAB_MAX
    width: 50%
    flex-basis: auto
    float: left
  +PHONE_ONLY
    width: 100%
    flex-basis: auto
    float: left
    border-left: 0 none
    text-align: center

  &__content
    display: block
    color: black
    font-size: 12px
    @media (max-width: 1023px)
      font-size: 14px
      line-height: 1.8

    h1
      margin-bottom: 15px
      font-size: 18px
      font-weight: 700
      color: black

      &:not(:first-child)
        padding-top: 15px

  &__infoLink
    display: block
    position: relative
    padding-left: 32px
    min-height: 22px
    @media (max-width: 767px)
      display: inline-block

    img
      +absolute(left 0 top calc(50% - 9px))

    span
      white-space: nowrap
      @media (min-width: 767px)

        br
          display: inline