.menu
  +clearfix
  +relative()
  +flex()
  z-index: 1000
  text-align: center
  @media (max-width: 1023px)
    width: 100%

  &__background
    +fixed(top 0 right 0 bottom 0 left 0)
    background-color: black
    display: none
    z-index: 1000

  &__button
    background-color: black
    color: white
    padding: 3px 10px
    font-size: 18px
    cursor: pointer
    float: left
    +TAB_MAX
      font-size: 24px
      padding: 5px 12px
    +PC_MIN
      display: none

  &__list
    +clearfix
    +relative()
    +inline-block
    text-align: left

    &.-main
      @media (max-width: 1023px)
        +fixed(top 50% left 50%)
        display: none
        z-index: 9001
        max-height: 70vh
        overflow-y: scroll
        transform: translate(-50%, -50%)
        background-color: white

      @media(min-width: 1024px)
        & > .menu__item > .menu__list
          &:before
            display: none

    &:not(.-main)
      +absolute(left 0)
      display: none
      min-width: 310px
      transform: translate(0, 0)
      @media (max-width: 1023px)
        +block
        +relative(left 0)
        background-color: rgba(0, 0, 0, 0.1)
        transform: translate(0, 0)

      &:before
        +absolute(top 0 right 0)
        +block
        +size(width 51px height 51px)
        +pointer
        content: '+'
        transform: translateY(-100%)
        background-color: $grayDark
        color: white
        line-height: 52px
        text-align: center
        @media (min-width: 1024px)
          +size(width 32px height 32px)
          background-color: transparent
          line-height: 32px

      &.-active
        &:before
          content: '-'

    &:not(.-main) &
      +block
      +relative(left auto)
      transform: translate(0, 0)

  &__item
    +block
    +relative()

    .menu__list.-main &
      float: left
      @media (max-width: 1023px)
        float: none

    .menu__list:not(.-main) &
      float: none
      @media (max-width: 1023px)
        display: none

      &:last-child
        border-bottom: 0 none

  &__link
    display: block
    padding: 10px 20px
    white-space: nowrap
    cursor: pointer
    color: black
    font-size: 17px
    transition: background-color .15s ease-in-out, color .15s ease-in-out
    @media (max-width: 1200px) and (min-width: 1024px)
      padding: 14px 15px
    @media (max-width: 1023px)
      padding: 15px 60px 15px 15px !important
      text-align: center

    &:hover, .sfHover > &, &.-active
      background-color: black
      color: white
      text-decoration: none

    .menu__list:not(.-main) &
      padding: 8px 19px
      background-color: #000000
      color: white
      @media (max-width: 1023px)
        background-color: black
        padding: 14px 19px

      &:hover
        background-color: white
        color: black

    .menu__list:not(.-main) .menu__list &
      border-bottom-color: white
      background-color: #000000
      padding-left: 48px
      color: white
      @media (max-width: 1023px)
        background-color: $grayMenuOpaque90
      &:hover
        background-color: white
        color: black