.menu
  .menu__background

  ul.menu__list.-main
    li.menu__item
      a.menu__link(href='pageMain.html') O FIRMIE
    li.menu__item
      a.menu__link(href='#') OFERTA
      ul.menu__list
        li.menu__item
          a.menu__link(href='#') PIECE AKUMULACYJNE
        li.menu__item
          a.menu__link(href='main.html') KOMINKI
          .menu__list
            .menu__item
              a.menu__link(href='main.html') PIECE WOLNOSTOJĄCE
              .menu__list

                - var i = 0;
                - var loopLength = 6;
                - var numberMax = 3;

                while i < loopLength
                  - var number = (i++ % numberMax) + 1;
                  - var itemTitle = 'PRESTIGE INVERTER ' + number + 'DPX';

                  .menu__item
                    a.menu__link(href='#') #{itemTitle}

            .menu__item
              a.menu__link(href='#') WKŁADY KOMINKOWE
              .menu__list

                - var i = 0;
                - var loopLength = 3;
                - var numberMax = 3;

                while i < loopLength
                  - var number = (i++ % numberMax) + 1;
                  - var itemTitle = 'LOREM IPSUM DOLOR ' + number + 'DPX';

                  .menu__item
                    a.menu__link(href='#') #{itemTitle}

        li.menu__item
          a.menu__link(href='#') KOMINY
        li.menu__item
          a.menu__link(href='#') AKCESORIA
    li.menu__item
      a.menu__link(href='pageList.html') USŁUGI
    li.menu__item
      a.menu__link(href='pageProduct.html') WIEDZA
    li.menu__item
      a.menu__link(href='pageText.html') GALERIA
    li.menu__item
      a.menu__link(href='pageMain.html') KONTAKT