.bannerTop
  width: 100%
  margin-left: auto
  margin-right: auto
  max-width: initial
  +MAX(1023px)
    padding-top: 117px

  &__item
    position: relative
    width: 100%
    height: auto
    display: block