$background: white
$color: red
$time: 1s

.loader
  +fixed(top 0 left 0)
  +size(height 100% width 100%)
  background: $background
  z-index: 9999
  margin-top: 0
  transition: 1s ease all
  &.hide
    pointer-events: none
    opacity: 0
    filter: grayscale(50%)

  &__box
    +relative()
    +size(height 100% width 100%)

  &__center
    +absolute(left 50% top 50%)
    transform: translate(-50%, -50%)

  &__item
    +left
    +size(height 80px width 8px)
    background-color: $color
    margin: 0 2px
    animation: loader__animation $time 1
    transform: scaleY(0)
    &:nth-child(3)
      animation-delay: 0.1s
      background: black
    &:nth-child(2)
      animation-delay: 0s


  @keyframes loader__animation
    50%
      transform: scaleY(1)