.download
  width: 100%
  padding: 0 4px 20px 4px

  &__title
    padding: 20px 0
    font-size: 18px
    color: black

  &__content
    +clearfix

  &__link
    +relative()
    +block
    transition: opacity 0.3s ease
    padding: 2px 0 2px 45px
    &:hover
      opacity: 0.7
      text-decoration: none
    +TAB_MIN
      float: left
      width: 50%
    +PC_MIN
      width: 25%
      .product__text &
        width: 50%

  &__image
    +absolute(top 5px left 0)
    +size(width 36px height 18px)

  &__size
    display: inline-block