.download
  .download__container
    .download__title Pliki do pobrania
    .download__content
      - var i = 0;
      - var loopLength = 4;

      while i < loopLength
        - var number = ++i * 11;
        - var imageSrc = 'assets/img/download.png';
        - var size = '(' + number + ' kb)';

        a.download__link(href='#')
          img.download__image(src=imageSrc alt='download')
          | Folder reklamowy
          .download__size #{size}