.titleMain
  background: #f9f9f9
  padding: 20px 0
  font-size: 24px
  text-align: center
  margin-bottom: 10px
  width: 100%
  border-top: 1px solid #d2d2d2
  border-bottom: 1px solid #d2d2d2

  .container__content.-slick &
    padding: 20px 0 35px 0