.logo
  +fontHelvticaAlternative
  font-size: 28.49px
  font-weight: bolder
  color: #000000
  line-height: 1
  outline: none
  margin-right: 20px
  margin-bottom: 15px
  span
    color: #ed1f24

  &:hover
    text-decoration: none