.gallery
  padding: 20px 0 0 0
  @media (max-width: 1023px)
    padding: 20px 0 15px 0

  &.-slick
    padding: 20px 0 0

  &.-slick4
    padding: 20px 0 0 0

  &__container
    +container
    padding: 0

  &__title
    color: #262626
    font-size: 30px
    font-weight: 400
    text-align: center
    padding: 0
    width: 25%
    margin: 0 auto 35px
    @media(max-width: 767px)
      width: 100%

    &.-left
      margin: 0 0 35px
      @media(max-width: 767px)
        margin: 0 auto 35px

  &__details
    opacity: 1
    font-size: 14px
    text-align: center
    padding: 5px 5px 0
    transition: opacity 0.4s ease
    .gallery__item:hover &
      opacity: 0.7

    .-category &
      background: $blue
      color: white
      min-height: 70px
      display: flex
      justify-content: center
      align-content: space-around
      padding: 5px
      font-size: 18px

  &__item
    display: block
    width: 25%
    padding: 4px
    text-decoration: none !important

  &__image
    transition: transform 0.36s ease, opacity 0.36s ease
    display: block
    width: 100%
    height: auto
    margin: 0 auto
    transform: scale(1, 1)
    opacity: 0.9

    .-transparentImages &
      max-width: 100%
      width: inherit
      padding: 20px
      height: 100%

    .gallery__item:hover &
      transform: scale(1.1, 1.1)
      opacity: 1

  &__imageHolder
    overflow: hidden
    border: 1px solid #959595

    .-transparentImages &
      border: 1px solid #d9d9d9
      background-color: rgba(255, 255, 255, 1)
      max-width: 300px
      height: 300px
      margin: 0 auto
      @media(max-width: 639px)
        max-width: 100%
        height: auto

  &__content
    .-grid
    display: flex
    flex-wrap: wrap

  &__item
    float: left
    .gallery:not(.-slick) &
      width: 25%
      margin-bottom: 20px
      @media(max-width: 1023px)
        width: 33%
        margin-bottom: 5px
      @media(max-width: 639px)
        width: 50%
      @media(max-width: 479px)
        width: 100%

      .-transparentImages &
        @media(max-width: 767px)
          width: 50% !important
        @media(max-width: 639px)
          width: 100% !important

    .gallery:not(.-slick4) &
      width: 25%
      margin-bottom: 20px
      @media(max-width: 1023px)
        width: 33%
        margin-bottom: 5px
      @media(max-width: 639px)
        width: 50%
      @media(max-width: 479px)
        width: 100%

      .-transparentImages &
        @media(max-width: 767px)
          width: 50% !important
        @media(max-width: 639px)
          width: 100% !important