.gallery.-slick4
  .gallery__container
    .gallery__content
      - var i = 0;
      - var loopLength = 8;
      - var numberMax = 1;

      while i < loopLength
        - var number = (i++ % numberMax) + 1;
        - var itemSrc = 'assets/img/gallery' + number + '.jpg';
        - var itemAlt = 'offer' + number;
        - var itemTitle = 'Kominek narożny nr' + number;

        a(href='#').gallery__item
          .gallery__imageHolder
            img.gallery__image(src=itemSrc alt=itemAlt)
          .gallery__details #{itemTitle}