- var i = 0;
- var loopLength = 8;
- var numberMax = 4;

while i < loopLength
  - var number = (i++ % numberMax) + 1;
  - var itemSrc = 'assets/img/offer' + number + '.jpg';
  - var itemAlt = 'offer' + number;
  - var itemTitle = 'RAIS Wood Stoves - Performance Building Supply ' + number + 'kg';

    .offer__item
      .offer__imagebox
        img.offer__image(src=itemSrc alt=itemAlt)
        .offer__labelContainer
          .offer__label NOWOŚĆ
          br
      .offer__title #{itemTitle}
      a.offer__link(href='#') SZCZEGÓŁY