.offer

  &__holder
    display: flex
    flex-wrap: wrap

  &__item
    position: relative
    width: 25%
    margin: 0 0 10px 0
    padding: 0 3px 65px 3px
    &:after
      position: absolute
      bottom: 0
      width: 96%
      height: 1px
      content: ''
      background-color: #dddddd

  &__imagebox
    position: relative

  &__image
    width: 100%
    border: 1px solid #b1b1b1

  &__labelContainer
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

  &__label
    display: inline-block
    background-color: #ffe400
    color: #000
    text-align: center
    padding: 10px 15px
    margin-top: 5px
    user-select: none
    cursor: default
    font-size: 18px

  &__title
    padding: 15px 0
    font-size: 18px
    text-align: center

  &__link
    position: absolute
    left: 50%
    transform: translate(-50%, 0)
    bottom: 24px
    background-color: white
    color: black
    border: 1px solid #d6d6d6
    text-align: center
    padding: 5px 10px
    white-space: nowrap
    transition: all 0.4s ease
    &:hover
      opacity: 0.7
      text-decoration: none !important
    +TAB_MAX
      padding: 10px
      font-size: 10px
    +PHONE_ONLY
      bottom: 15px