.textBlock
  padding: 30px 0
  &__container
    +clearfix
    +TAB_MIN
      display: flex

  &__title
    display: block
    width: 100%
    +fontLato
    font-size: 24px
    padding: 20px 0 30px

  &__item
    position: relative
    float: left
    display: block
    flex-basis: auto
    width: 100%
    padding: 0 10px
    &.half
      +TAB_MIN
        width: 50%

  &__button
    position: relative
    display: inline-block
    background-color: white
    color: black
    text-align: center
    padding: 6px 10px
    margin: 10px 0 20px 0
    border: 1px solid #d6d6d6
    left: 50%
    bottom: 0
    transform: translate(-50%, 0)
    white-space: nowrap
    transition: all 0.4s ease
    text-decoration: none !important
    font-size: 12px
    &.-right
      float: right
      position: static
      transform: none

    &:hover
      opacity: 0.7

    @media (max-width: 1023px)
      position: relative