.textBlock
  .textBlock__container
    .textBlock__item
      .textBlock__content(style='text-align: justify')
        p Piękny kominek w salonie, to nie tylko przyjemne ciepło, ale również miejsce wielu miłych spotkań z rodziną i przyjaciółmi. Od ponad 20 lat tworzymy dla Państwa takie miejsca, oferując kominki i akcesoria pomocne podczas ich eksploatacji.
        p W naszej firmie od zawsze stawiamy na jakość. Dla wielu są to tylko puste slogany marketingowe, jednak my możemy potwierdzić te słowa certyfikatem jakości ISO 9001:2008 oraz szeregiem wyróżnień, które nasza firma otrzymała w trakcie swojej działalności. Troszczymy się również o bezpieczeństwo eksploatacji, korzystając wyłącznie z produktów renomowanych, sprawdzonych firm. Dzięki temu nasi klienci mają pewność, że wykonane przez nas kominki lub zakupione u nas produkty będą funkcjonowały bez zarzutu.

    .textBlock__item
      .textBlock__content(style='text-align: justify')
        p Piękny kominek w salonie, to nie tylko przyjemne ciepło, ale również miejsce wielu miłych spotkań z rodziną i przyjaciółmi. Od ponad 20 lat tworzymy dla Państwa takie miejsca, oferując kominki i akcesoria pomocne podczas ich eksploatacji.
        p W naszej firmie od zawsze stawiamy na jakość. Dla wielu są to tylko puste slogany marketingowe, jednak my możemy potwierdzić te słowa certyfikatem jakości ISO 9001:2008 oraz szeregiem wyróżnień, które nasza firma otrzymała w trakcie swojej działalności. Troszczymy się również o bezpieczeństwo eksploatacji, korzystając wyłącznie z produktów renomowanych, sprawdzonych firm. Dzięki temu nasi klienci mają pewność, że wykonane przez nas kominki lub zakupione u nas produkty będą funkcjonowały bez zarzutu.