.slick
  &-track
    .container__content
    .partners__content &
      +flex()
      align-content: stretch
      //padding: 500px

  &-slide
    .container__content
    .partners__content &,
    .bannerBottom &
      height: auto
      .partners__content
        +flex(align-items center)

  &__dots
    +size(width 9px height 9px)
    +pointer
    background-color: $grayDark
    margin: 0 3px
    transition: background 0.3s ease

    .slick-active &
      background-color: $grayLight

    &:hover
      background-color: $grayLight

  &__arrow
    +absolute()
    +flex(align-items center justify-content center)
    +size(height 55px width 55px)
    cursor: pointer
    font-size: 32px
    line-height: inherit
    margin: auto
    z-index: 100
    padding: 0
    text-align: center
    color: #f3f3f3
    background-color: rgba(73, 73, 73, 0.6)
    transition: background-color 0.3s ease

    i
      transform: scale(1, 1.7)
      line-height: 50px
      border-radius: 0
      font-weight: 700

    .container__content &
      top: 40%

    .bannerBottom &
      top: 50%

    .product &
      top: 50%

    .partners &
      top: 0
      bottom: 0
      background-color: transparent
      color: #c6c6c6
      i
        transform: scale(0.7, 1.2)

    .gallery &
      top: 0
      bottom: 0
      transform: translate(0, -25%)

    &:hover
      background-color: rgba(209, 209, 209, 0.9)
      .partners &
        background-color: rgba(209, 209, 209, 0.3)

    &.-left
      left: 0

    &.-right
      right: 0

    &__customArrow
      +block
      +size(height 55px width 55px)
      text-align: center
      vertical-align: middle

.slick-dots

  .container__content &
    +absolute(top 65px left 0 right 0)
    text-align: center

  .bannerBottom &
    +absolute(top 26px left 0 right 0)
    text-align: center

  li
    display: inline-block