doctype html
html(lang='pl')

  include head

  body

    include ../blocks/loader/loader
    include ../blocks/header/header

    block content

    include ../blocks/footer/footer

    block script
      // build:js assets/js/app.js
      // bower:js
      // endbower
      script(src='../bower_components/superfish/dist/js/supersubs.js')
      script(src='../bower_components/imagesloaded/imagesloaded.pkgd.js')
      script(src='assets/js/custom.js')
      // endbuild