﻿- var title = 'PIECE'

head
  title= title

  meta(charset='utf-8')
  meta(name='title' content=title)
  meta(name='description' content=title)
  meta(name='keywords' content=title)
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')

  block style
    // build:css assets/css/app.css
    // bower:css
    // endbower
    link(rel='stylesheet' href='assets/css/custom.css')
    // endbuild

  block headScripts